:root {
    --primary-background: #f6f9f8;
    --secondary-background: #d5d9dc;
    --primary-text: #084479;
    --secondary-text: #fa5366;
    --primary-button: #fa5366;
    --secondary-button: #084479;
    --accent-color: #084479;
    --dark-primary-background: #393639;
    --dark-secondary-background: #575657;
    --dark-primary-text: #ec538d;
    --dark-secondary-text: #fad420;
    --dark-primary-button: #fad420;
    --dark-secondary-button: #ec538d;
    --dark-accent-color: #1699e7;
}

nav {
  background-color: var(--primary-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5vh 3vh;
  z-index: 10000000;
  top: 0;
  max-height: 10%;
  position: relative;
}

body, html {
  font-family: sans-serif;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  color: var(--primary-text);
}


/* Basic styling for the hamburger menu */
.hamburger {
    display: none; /* Hide by default on larger screens */
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--primary-text);
    margin: 5px;
    transition: 0.4s;
}

/* Rotate animation when menu is active */
.hamburger.active span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .hamburger {
      display: block; /* Show hamburger menu on smaller screens */
    }

    .menu {
      display: none; /* Hide the regular menu items */
      flex-direction: column; /* Stack items vertically */
      background-color: var(--primary-background);
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    .menu.active {
      display: flex; /* Show menu items when hamburger menu is active */
    }

    .menu:last-child {
      top: 120px; /* Adjust top position for the second menu */
    }

    .menu li {
      text-align: center;
      padding: 10px;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--primary-background);
    position: relative;
    font-size: 15px;
  }

li {
    float: left;
    margin-right: 10px;
}

li a {
    display: block;
    color: var(--primary-text);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

#organizations-dropdown-div {
    margin-right: 1%;
}
.dropdown {
    display: inline-block;
    z-index: 10000;
}

.organizations-dropdown-button {
    background-color: #04AA6D;
    color: white;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    width: 30vw;
    box-sizing: border-box;
    text-align: center;
    border-radius: 2px;
    margin-right: 10px;
    margin-top: 2px;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--secondary-background);
    min-width: 100px;
    cursor: pointer;
}

.organizations-dropdown-button {
    background-color: #04AA6D;
    color: white;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    width: 30vw;
    box-sizing: border-box;
    text-align: center;
    border-radius: 2px;
    margin-right: 10px;
    margin-top: 2px;
    position: relative;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--primary-background);
    position: relative;
    font-size: 15px;
}

.button2 {
    display: inline-block;
    background-color: var(--primary-button);
    color: var(--primary-background);
    text-decoration: none;
    border-radius: 2px;
    margin-top: 2px;
}

.button3 {
    background-color: var(--primary-button);
    color: var(--primary-background);
    text-decoration: none;
    border-radius: 2px;
    margin-top: 2px;
    margin-right: 8px;
    float: right;
}

nav::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 90%;
    border-bottom: 2px solid var(--accent-color);
}